In [142]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import mean_squared_error

In [14]:
train_clinical_data = pd.read_csv('./train_clinical_data.csv')[
    ['visit_id', 'patient_id', 'visit_month', 'upd23b_clinical_state_on_medication', 'updrs_1', 'updrs_2','updrs_3', 'updrs_4']]

train_clinical_data

,visit_id,patient_id,visit_month,upd23b_clinical_state_on_medication,updrs_1,updrs_2,updrs_3,updrs_4
0,55_0,55,0,NaN,10.0,6.0,15.0,NaN
1,55_3,55,3,NaN,10.0,7.0,25.0,NaN
2,55_6,55,6,NaN,8.0,10.0,34.0,NaN
3,55_9,55,9,On,8.0,9.0,30.0,0.0
4,55_12,55,12,On,10.0,10.0,41.0,0.0
...,...,...,...,...,...,...,...,...
2610,65043_48,65043,48,Off,7.0,6.0,13.0,0.0
2611,65043_54,65043,54,Off,4.0,8.0,11.0,1.0
2612,65043_60,65043,60,Off,6.0,6.0,16.0,1.0
2613,65043_72,65043,72,Off,3.0,9.0,14.0,1.0
2614,65043_84,65043,84,Off,7.0,9.0,20.0,3.0

In [16]:
train_proteins = pd.read_csv('./train_proteins.csv')
train_proteins

         visit_id  visit_month  patient_id UniProt       NPX
0            55_0            0          55  O00391   11254.3
1            55_0            0          55  O00533  732430.0
2            55_0            0          55  O00584   39585.8
3            55_0            0          55  O14498   41526.9
4            55_0            0          55  O14773   31238.0
...           ...          ...         ...     ...       ...
232736  58648_108          108       58648  Q9UBX5   27387.8
232737  58648_108          108       58648  Q9UHG2  369437.0
232738  58648_108          108       58648  Q9UKV8  105830.0
232739  58648_108          108       58648  Q9Y646   21257.6
232740  58648_108          108       58648  Q9Y6R7   17953.1

[232741 rows x 5 columns]

In [27]:
df = train_clinical_data.merge(train_proteins, how='inner', on='visit_id')

In [28]:
df.columns

Index(['visit_id', 'patient_id_x', 'visit_month_x',
       'upd23b_clinical_state_on_medication', 'updrs_1', 'updrs_2', 'updrs_3',
       'updrs_4', 'visit_month_y', 'patient_id_y', 'UniProt', 'NPX'],
      dtype='object')

In [33]:
df

,visit_id,patient_id_x,visit_month_x,upd23b_clinical_state_on_medication,updrs_1,updrs_2,updrs_3,updrs_4,visit_month_y,patient_id_y,UniProt,NPX
0,55_0,55,0,NaN,10.0,6.0,15.0,NaN,0,55,O00391,11254.3
1,55_0,55,0,NaN,10.0,6.0,15.0,NaN,0,55,O00533,732430.0
2,55_0,55,0,NaN,10.0,6.0,15.0,NaN,0,55,O00584,39585.8
3,55_0,55,0,NaN,10.0,6.0,15.0,NaN,0,55,O14498,41526.9
4,55_0,55,0,NaN,10.0,6.0,15.0,NaN,0,55,O14773,31238.0
...,...,...,...,...,...,...,...,...,...,...,...,...
223263,65043_48,65043,48,Off,7.0,6.0,13.0,0.0,48,65043,Q9UBX5,48796.4
223264,65043_48,65043,48,Off,7.0,6.0,13.0,0.0,48,65043,Q9UHG2,320821.0
223265,65043_48,65043,48,Off,7.0,6.0,13.0,0.0,48,65043,Q9UKV8,39046.7
223266,65043_48,65043,48,Off,7.0,6.0,13.0,0.0,48,65043,Q9Y646,20198.8
223267,65043_48,65043,48,Off,7.0,6.0,13.0,0.0,48,65043,Q9Y6R7,39535.0

visit_id | ---UniProt (~218)--- | updrs_x

In [81]:
df_pivot = df.pivot(index='visit_id', values='NPX', columns=['UniProt'])

In [82]:
df_pivot

UniProt,O00391,O00533,O00584,O14498,O14773,O14791,O15240,O15394,O43505,O60888,...,Q9HDC9,Q9NQ79,Q9NYU2,Q9UBR2,Q9UBX5,Q9UHG2,Q9UKV8,Q9UNU6,Q9Y646,Q9Y6R7
visit_id,,,,,,,,,,,,,,,,,,,,,
10053_0,9104.27,402321.0,NaN,NaN,7150.57,2497.84,83002.9,15113.6,167327.0,129048.0,...,NaN,9469.45,94237.6,NaN,23016.0,177983.0,65900.0,15382.0,NaN,19017.40
10053_12,10464.20,435586.0,NaN,NaN,NaN,NaN,197117.0,15099.1,164268.0,108114.0,...,NaN,14408.40,NaN,NaN,28537.0,171733.0,65668.1,NaN,9295.65,25697.80
10053_18,13235.70,507386.0,7126.96,24525.7,NaN,2372.71,126506.0,16289.6,168107.0,163776.0,...,317477.0,38667.20,111107.0,NaN,37932.6,245188.0,59986.1,10813.3,NaN,29102.70
10138_12,12600.20,494581.0,9165.06,27193.5,22506.10,6015.90,156313.0,54546.4,204013.0,56725.0,...,557904.0,44556.90,155619.0,14647.90,36927.7,229232.0,106564.0,26077.7,21441.80,7642.42
10138_24,12003.20,522138.0,4498.51,17189.8,29112.40,2665.15,151169.0,52338.1,240892.0,85767.1,...,NaN,47836.70,177619.0,17061.10,25510.4,176722.0,59471.4,12639.2,15091.40,6168.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699_24,9983.00,400290.0,24240.10,NaN,16943.50,6303.17,77493.6,46435.3,254247.0,138910.0,...,NaN,25690.60,NaN,6859.82,19106.7,121161.0,113872.0,14413.9,28225.50,8062.07
942_12,6757.32,360858.0,18367.60,14760.7,18603.40,1722.77,86847.4,37741.3,212132.0,100519.0,...,45742.3,33518.60,94049.7,13415.70,21324.7,234094.0,82410.4,19183.7,17804.10,12277.00
942_24,NaN,352722.0,22834.90,23393.1,16693.50,1487.91,114772.0,36095.7,185836.0,99183.5,...,180475.0,29770.60,95949.9,11344.40,23637.6,256654.0,76931.9,19168.2,19215.90,14625.60
942_48,11627.80,251820.0,22046.50,26360.5,22440.20,2117.43,82241.9,30146.6,167633.0,84875.1,...,197987.0,29283.80,121696.0,19169.80,16724.9,232301.0,96905.9,21120.9,14089.80,16418.50
942_6,11218.70,399518.0,20581.00,31290.9,6173.58,2564.37,160526.0,43423.1,165524.0,85272.7,...,253373.0,27431.80,93796.7,17450.90,21299.1,306621.0,82335.5,24018.7,18939.50,15251.20

In [86]:
df_pivot.fillna(0, inplace=True)

In [87]:
df_pivot

UniProt,O00391,O00533,O00584,O14498,O14773,O14791,O15240,O15394,O43505,O60888,...,Q9HDC9,Q9NQ79,Q9NYU2,Q9UBR2,Q9UBX5,Q9UHG2,Q9UKV8,Q9UNU6,Q9Y646,Q9Y6R7
visit_id,,,,,,,,,,,,,,,,,,,,,
10053_0,9104.27,402321.0,0.00,0.0,7150.57,2497.84,83002.9,15113.6,167327.0,129048.0,...,0.0,9469.45,94237.6,0.00,23016.0,177983.0,65900.0,15382.0,0.00,19017.40
10053_12,10464.20,435586.0,0.00,0.0,0.00,0.00,197117.0,15099.1,164268.0,108114.0,...,0.0,14408.40,0.0,0.00,28537.0,171733.0,65668.1,0.0,9295.65,25697.80
10053_18,13235.70,507386.0,7126.96,24525.7,0.00,2372.71,126506.0,16289.6,168107.0,163776.0,...,317477.0,38667.20,111107.0,0.00,37932.6,245188.0,59986.1,10813.3,0.00,29102.70
10138_12,12600.20,494581.0,9165.06,27193.5,22506.10,6015.90,156313.0,54546.4,204013.0,56725.0,...,557904.0,44556.90,155619.0,14647.90,36927.7,229232.0,106564.0,26077.7,21441.80,7642.42
10138_24,12003.20,522138.0,4498.51,17189.8,29112.40,2665.15,151169.0,52338.1,240892.0,85767.1,...,0.0,47836.70,177619.0,17061.10,25510.4,176722.0,59471.4,12639.2,15091.40,6168.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699_24,9983.00,400290.0,24240.10,0.0,16943.50,6303.17,77493.6,46435.3,254247.0,138910.0,...,0.0,25690.60,0.0,6859.82,19106.7,121161.0,113872.0,14413.9,28225.50,8062.07
942_12,6757.32,360858.0,18367.60,14760.7,18603.40,1722.77,86847.4,37741.3,212132.0,100519.0,...,45742.3,33518.60,94049.7,13415.70,21324.7,234094.0,82410.4,19183.7,17804.10,12277.00
942_24,0.00,352722.0,22834.90,23393.1,16693.50,1487.91,114772.0,36095.7,185836.0,99183.5,...,180475.0,29770.60,95949.9,11344.40,23637.6,256654.0,76931.9,19168.2,19215.90,14625.60
942_48,11627.80,251820.0,22046.50,26360.5,22440.20,2117.43,82241.9,30146.6,167633.0,84875.1,...,197987.0,29283.80,121696.0,19169.80,16724.9,232301.0,96905.9,21120.9,14089.80,16418.50
942_6,11218.70,399518.0,20581.00,31290.9,6173.58,2564.37,160526.0,43423.1,165524.0,85272.7,...,253373.0,27431.80,93796.7,17450.90,21299.1,306621.0,82335.5,24018.7,18939.50,15251.20

In [102]:
df_updrs = df[['visit_id', 'updrs_1']].groupby(by='visit_id').mean().reset_index()

In [109]:
df_pivot = df_pivot.merge(df_updrs, how='left', on='visit_id')

In [108]:
train_test_split()

UniProt,O00391,O00533,O00584,O14498,O14773,O14791,O15240,O15394,O43505,O60888,...,Q9HDC9,Q9NQ79,Q9NYU2,Q9UBR2,Q9UBX5,Q9UHG2,Q9UKV8,Q9UNU6,Q9Y646,Q9Y6R7
visit_id,,,,,,,,,,,,,,,,,,,,,
10053_0,9104.27,402321.0,0.00,0.0,7150.57,2497.84,83002.9,15113.6,167327.0,129048.0,...,0.0,9469.45,94237.6,0.00,23016.0,177983.0,65900.0,15382.0,0.00,19017.40
10053_12,10464.20,435586.0,0.00,0.0,0.00,0.00,197117.0,15099.1,164268.0,108114.0,...,0.0,14408.40,0.0,0.00,28537.0,171733.0,65668.1,0.0,9295.65,25697.80
10053_18,13235.70,507386.0,7126.96,24525.7,0.00,2372.71,126506.0,16289.6,168107.0,163776.0,...,317477.0,38667.20,111107.0,0.00,37932.6,245188.0,59986.1,10813.3,0.00,29102.70
10138_12,12600.20,494581.0,9165.06,27193.5,22506.10,6015.90,156313.0,54546.4,204013.0,56725.0,...,557904.0,44556.90,155619.0,14647.90,36927.7,229232.0,106564.0,26077.7,21441.80,7642.42
10138_24,12003.20,522138.0,4498.51,17189.8,29112.40,2665.15,151169.0,52338.1,240892.0,85767.1,...,0.0,47836.70,177619.0,17061.10,25510.4,176722.0,59471.4,12639.2,15091.40,6168.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699_24,9983.00,400290.0,24240.10,0.0,16943.50,6303.17,77493.6,46435.3,254247.0,138910.0,...,0.0,25690.60,0.0,6859.82,19106.7,121161.0,113872.0,14413.9,28225.50,8062.07
942_12,6757.32,360858.0,18367.60,14760.7,18603.40,1722.77,86847.4,37741.3,212132.0,100519.0,...,45742.3,33518.60,94049.7,13415.70,21324.7,234094.0,82410.4,19183.7,17804.10,12277.00
942_24,0.00,352722.0,22834.90,23393.1,16693.50,1487.91,114772.0,36095.7,185836.0,99183.5,...,180475.0,29770.60,95949.9,11344.40,23637.6,256654.0,76931.9,19168.2,19215.90,14625.60
942_48,11627.80,251820.0,22046.50,26360.5,22440.20,2117.43,82241.9,30146.6,167633.0,84875.1,...,197987.0,29283.80,121696.0,19169.80,16724.9,232301.0,96905.9,21120.9,14089.80,16418.50
942_6,11218.70,399518.0,20581.00,31290.9,6173.58,2564.37,160526.0,43423.1,165524.0,85272.7,...,253373.0,27431.80,93796.7,17450.90,21299.1,306621.0,82335.5,24018.7,18939.50,15251.20

In [129]:
X_train, X_test, y_train, y_test = train_test_split(df_pivot[df_pivot.columns.difference(['visit_id', 'updrs_1'])], 
                                                    df_pivot[['updrs_1']], test_size=0.1, shuffle=True, random_state=42)

In [131]:
svr = svm.SVR()

In [136]:
svr.fit(X_train, y_train.squeeze())

SVR()

In [137]:
y_pred = svr.predict(X_test)

In [145]:
mean_squared_error(y_pred, y_test)

19.59687375661258

In [141]:
list(y_test['updrs_1'])

[6.0,
 1.0,
 6.0,
 8.0,
 1.0,
 6.0,
 4.0,
 11.0,
 25.0,
 6.0,
 2.0,
 0.0,
 5.0,
 6.0,
 8.0,
 1.0,
 6.0,
 3.0,
 6.0,
 0.0,
 1.0,
 6.0,
 7.0,
 8.0,
 4.0,
 12.0,
 1.0,
 0.0,
 14.0,
 13.0,
 0.0,
 1.0,
 5.0,
 1.0,
 1.0,
 5.0,
 0.0,
 6.0,
 2.0,
 6.0,
 2.0,
 9.0,
 8.0,
 2.0,
 10.0,
 2.0,
 7.0,
 0.0,
 12.0,
 6.0,
 10.0,
 1.0,
 3.0,
 5.0,
 2.0,
 4.0,
 6.0,
 8.0,
 1.0,
 17.0,
 9.0,
 15.0,
 1.0,
 8.0,
 15.0,
 4.0,
 8.0,
 4.0,
 6.0,
 2.0,
 1.0,
 1.0,
 6.0,
 15.0,
 4.0,
 4.0,
 3.0,
 7.0,
 11.0,
 2.0,
 3.0,
 9.0,
 4.0,
 0.0,
 13.0,
 11.0,
 2.0,
 5.0,
 3.0,
 2.0,
 5.0,
 6.0,
 5.0,
 3.0,
 0.0,
 2.0,
 12.0,
 10.0,
 3.0,
 2.0,
 5.0,
 5.0,
 1.0,
 2.0,
 3.0,
 11.0,
 7.0]